appdirs==1.4.4
argcomplete==3.1.4
asgiref==3.7.2
asttokens==2.4.1
attrs==23.2.0
Babel==2.10.3
bcc==0.1.10
bcrypt==3.2.2
beautifulsoup4==4.12.3
blinker==1.7.0
Brotli==1.1.0
build==1.0.3
CacheControl==0.14.0
certifi==2023.11.17
cfgv==3.4.0
chardet==5.2.0
Django==4.2.11 
gunicorn==21.2.0
django-crispy-forms==2.1.0

